name: CI/CD

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm test -- --watchAll=false

    - name: Build Docker image
      run: docker build -t zeua/reactprod .

    - name: Login to DockerHub
      run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u zeua --password-stdin

    - name: Push Docker image
      run: docker push zeua/reactprod

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.EC2_HOST }}   # aquí va tu DNS público
        username: ubuntu
        key: ${{ secrets.EC2_SSH_KEY }} # tu clave privada (.pem) guardada como secreto
        script: |
          docker pull zeua/reactprod
          docker stop reactprod || true
          docker rm reactprod || true
          docker run -d --name reactprod -p 3000:3000 zeua/reactprod
