name: CI/CD

on:
  push:
    branches: [ "master" ]   # Se ejecuta en cada push a master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 20

    - name: Install dependencies
      run: npm install

    - name: Run tests
      run: npm test -- --watchAll=false

    - name: Build Docker image
      run: docker build -t zeua/reactprod .

    - name: Login to DockerHub
      run: echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u zeua --password-stdin

    - name: Push Docker image
      run: docker push zeua/reactprod
